  <div *ngIf="acceptOrders">
  <!-- <div *ngIf="eventsList.length !== 0"> -->
  <!-- <div class="container-fluid"> -->
  <h1 class="text-center details-title my-4">{{'manage-accept-orders-page' | translate}}</h1>
  <div class="row">
    <div class="col-10 col-sm-8 col-md-6 col-xl-4">
      <div class="form-group mb-4">
        <input
          id="exampleFormControlInput2"
          [(ngModel)]="name"
          (keyup)="applyFilter()"
          type="text"
          placeholder="{{'accept-order-search-input' | translate}}"
          title="{{'accept-order-search-input' | translate}}"
          class="form-control form-control-underlined border-primary search-input">
      </div>
    </div>
    <!-- <div class="col-5 col-md-6 col-xl-8 align-self-center">
      <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/events/add">
        <i class="fa fa-plus"></i>
        {{'new-event' | translate}}
      </a>
    </div> -->
  </div>
  <div class="table-responsive text-center">
    <table class="table table-bordered main-table">
      <tr class="bg-dark text-white">
        <td>{{'guide-name' | translate }}</td>
        <td>{{'tourist-name' | translate }}</td>
        <td>{{'services' | translate }}</td>
        <td>{{'city' | translate }}</td>
        <td>{{'arrive-date' | translate }}</td>
        <td>{{'leave-date' | translate }}</td>
        <td>{{'status' | translate }}</td>
        <td>{{'cost' | translate }}</td>
        <td>{{'date' | translate }}</td>
      </tr>
      <tr *ngFor="let order of acceptOrdersList | paginate: config">
        <td>{{order?.guideName ? order?.guideName : '-'}}</td>
        <td>{{order?.touristName ? order?.touristName : '-'}}</td>
        <td>
          {{order?.order?.services.length == 0 ? '-' : null}}
          <span class="m-1 px-1 rounded border border-primary" *ngFor="let service of order?.order?.services">{{service}}</span>
        </td>
        <td>{{order?.order ? order?.order?.city : '-'}}</td>
        <td>{{order?.order ? (order?.order?.arriveDate?.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
        <td>{{order?.order ? (order?.order?.leaveDate?.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
        <td>{{order?.order ? order?.order?.status : '-'}}</td>
        <td>{{order?.cost ? order?.cost : '-'}}</td>
        <td style="white-space: nowrap;">{{order?.date ? (order?.date.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
      </tr>
    </table>
    <pagination-controls class="my-pagination"
                         (pageChange)="pageChanged($event)"
                         autoHide="true"
                         maxSize="5"
                         responsive="true"
                         previousLabel="{{'prev' | translate}}"
                         nextLabel="{{'next' | translate}}"
                         screenReaderPaginationLabel="Pagination"
                         screenReaderPageLabel="page"
                         screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
    </pagination-controls>
  </div>
  <!-- </div> -->
  <!-- </div> -->
  <!-- <div *ngIf="eventsList.length === 0">
      <div class="container">
          <div class="alert alert-primary text-center mt-5">{{'event-not-found' | translate}}</div>
          <a routerLink="/cars/add" class="btn btn-primary btn-sm mb-2 float-right">
              <i class="fa fa-plus"></i>
              {{'add-new-car' | translate}}
          </a>
      </div>
  </div> -->
</div>
<div *ngIf="!acceptOrders">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
