<div class="region-details" *ngIf="region">
    <div class="container">
      <h1 class="my-3 details-title">{{'region-details-page' | translate}}</h1>
      <div class="row">
        <div class="col-12 col-sm-5 col-md-4 position-relative mx-auto text-center mb-3">
          <div class="image-details mb-3">
            <img class="img-fluid img-thumbnail" src="{{region?.regionImage[0]?.path}}" alt="{{region?.name}} Image" />
          </div>
        </div>
        <div class="col-12 col-sm-6 mx-auto">
          <div class="info-details">
            <ul class="list-unstyled">
              <li>
                <div class="row">
                  <div class="col">
                    <h4 class="text-info">{{region?.name}}</h4>
                  </div>
                </div>
              </li>
              <li class="mb-2" *ngIf="region?.ratingAverage"><p class="mb-0">{{'rating' | translate }} : <span class="text-secondary">{{region?.ratingAverage}}</span></p></li>
              <li class="mb-2" *ngIf="region?.description">
                <p><b>{{'description' | translate }} :</b><br>
                  <span class="m-1 px-1">{{region?.description}}</span>
                </p>
              </li>
            </ul>
          </div><!--.info-details-->
        </div><!--.col-12-->
        <div class="col-12">
          <hr class="w-50 mx-auto">
        </div>  
        <div class="col-12" *ngIf="regionGuidesList.length > 0">
          <h3 class="">{{'guides' | translate}} :</h3>
        </div>
        <div class="col-12 mx-auto" *ngIf="regionGuidesList.length > 0">
          <div class="table-responsive text-center">
            <table class="table table-bordered main-table">
              <tr class="bg-dark text-white">
                <td>{{'image' | translate}}</td>
                <td>{{'name' | translate}}</td>
                <!-- <td>{{'city' | translate}}</td> -->
                <!-- <td>{{'region-name' | translate}}</td> -->
                <td>{{'language' | translate}}</td>
                <td>{{'rating' | translate}}</td>
                <td>{{'status' | translate}}</td>
                <!-- <td>{{'control' | translate}}</td> -->
              </tr>
              <tr *ngFor="let guide of regionGuidesList | paginate: config">
                <td><img src="{{guide?.image}}" alt="{{guide?.name}} Image" class="img-thumbnail img-custom"></td>
                <td>{{guide.name ? guide?.name : '-'}}</td>
                <!-- <td>
                  {{guide?.city.length == 0 ? '-' : null}}
                  <span class="m-1 px-1 rounded border border-primary" *ngFor="let city of guide?.city">{{city}}</span>
                </td> -->
                <!-- <td>
                  {{guide?.regions?.length == 0 ? '-' : null}}
                  <span class="{{region?.name ? 'm-1 px-1 d-block rounded border border-primary' : null}}" *ngFor="let region of guide?.regions">{{region?.name ? region?.name : null}}</span>
                </td> -->
                <td>
                  {{guide?.language?.length == 0 ? '-' : null}}
                  <span class="m-1 px-1 rounded bg-grey-blue text-white" *ngFor="let lang of guide?.language">{{lang}}</span>
                </td>
                <td>{{guide?.rating ? guide?.rating : '-'}}</td>
                <td>{{guide?.status ? (guide?.status | translate) : '-'}}</td>
                <!-- <td>
                  <a routerLink="/guides/{{guide?.id}}" class="btn bg-light-blue text-white btn-sm mr-1 mb-1">
                    {{'view' | translate}}
                  </a>
                  <a routerLink="/guides/approve/{{guide?.id}}" class="btn bg-light-blue text-white btn-sm mr-1 mb-1">
                    {{'approve' | translate}}
                  </a>
                </td> -->
              </tr>
            </table>
            <pagination-controls id="region-guide"
                                 (pageChange)="pageChanged($event)"
                                 autoHide="true"
                                 maxSize="5"
                                 responsive="true"
                                 previousLabel="{{'prev' | translate}}"
                                 nextLabel="{{'next' | translate}}"
                                 screenReaderPaginationLabel="Pagination"
                                 screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
            </pagination-controls>
          </div>
        </div>
        <!--.col-12-->

        <div class="col-12">
          <hr class="w-50 mx-auto">
        </div>  
        <div class="col-12" *ngIf="regionCommentsList.length > 0">
          <h3 class="">{{'comments' | translate}} :</h3>
        </div>
        <div class="card col-12 px-0">
          <div class="card-header">
            <!-- <h1 class="text-center details-title my-4">{{'manage-comment-page' | translate}}</h1> -->
          </div>
          <div class="card-body p-2">            
            <div class="messages-body my-3 pt-3 p-2">
              <div class="comment-block" *ngFor="let comment of regionCommentsList | paginate: paginate">
                <div class="row">
                  <div class="col-2 col-lg-1 text-center pr-0 align-self-center">
                    <div class="user-img">
                      <img class="res-image"
                          src="{{comment?.userImage ? comment?.userImage :  '../../../../../assets/default-avatar.jpg'}}"
                          alt=""/>
                    </div>
                  </div>
                  <div class="col-10 col-lg-11 mt-2 mt-sm-0">
                    <div class="comment-body py-2 px-3">
                      <div class="time">
                        <span class="pb-1">{{comment?.userName}} {{comment?.date != null ? '( ' + (comment?.date.timestamp * 1000 | date: 'medium') + ' )' : ''}}</span>
                      </div>
                     <p class="comment m-0">
                       {{comment?.comment}}
                     </p>
                    </div>
                  </div>
                </div><!--.row-->
              </div><!--.comment-block-->
            </div><!--.messages-body-->
          </div><!--.card-body-->
          <div class="card-footer text-center">
            <pagination-controls id="region-comments"
                                 (pageChange)="pagedChanged($event)"
                                 autoHide="true"
                                 maxSize="5"
                                 responsive="true"
                                 previousLabel="{{'prev' | translate}}"
                                 nextLabel="{{'next' | translate}}"
                                 screenReaderPaginationLabel="Pagination"
                                 screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
            </pagination-controls>
          </div><!--.card-footer-->
        </div><!--.card-->
  
      </div><!--.row-->
    </div>
  </div>
  <div *ngIf="!region">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
  