<div *ngIf="admins.length != 0">
  <!-- <div *ngIf="regionsList.length !== 0"> -->
  <!-- <div class="container-fluid"> -->
  <h1 class="text-center details-title my-4">{{'manage-admins-page' | translate}}</h1>
  <div class="row">
    <div class="col-10 col-sm-8 col-md-6 col-xl-4">
      <div class="form-group mb-4">
        <input
          id="exampleFormControlInput2"
          [(ngModel)]="name"
          (keyup)="applyFilter()"
          type="text"
          placeholder="{{'admins-search-input' | translate}}"
          title="{{'admins-search-input' | translate}}"
          class="form-control form-control-underlined border-primary search-input">
      </div>
    </div>
    <!-- <div class="col-5 col-md-6 col-xl-8 align-self-center">
      <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/regions/add">
        <i class="fa fa-plus"></i>
        {{'new-region' | translate}}
      </a>
    </div> -->
  </div>
  <div class="table-responsive text-center">
    <table class="table table-bordered main-table">
      <tr class="bg-dark text-white">
        <td>{{'image' | translate}}</td>
        <td>{{'name' | translate}}</td>
        <td>{{'email' | translate}}</td>
<!--        <td>{{'phone-number' | translate}}</td>-->
        <td>{{'create-date' | translate}}</td>
        <td>{{'control' | translate}}</td>
      </tr>
      <tr *ngFor="let admin of adminsList | paginate: config">
        <td><img src="{{admin?.image}}" alt="{{admin?.name}} Image" class="img-thumbnail img-custom"></td>
        <td>{{admin?.name ? admin?.name : '-'}}</td>
        <td>{{admin?.email ? admin?.email : '-'}}</td>
<!--        <td>{{admin?.phoneNumber ? admin?.phoneNumber : '-'}}</td>-->
        <td>{{admin?.createDate ? (admin?.createDate?.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
        <td>
          <a (click)="delete(admin?.userID)" class="btn btn-danger confirm btn-sm mr-1 mb-1 {{isDeleted ? 'disabled' : ''}}">
            {{'delete' | translate}}
          </a>
        </td>
      </tr>
    </table>
    <pagination-controls class="my-pagination"
                         (pageChange)="pageChanged($event)"
                         autoHide="true"
                         maxSize="5"
                         responsive="true"
                         previousLabel="{{'prev' | translate}}"
                         nextLabel="{{'next' | translate}}"
                         screenReaderPaginationLabel="Pagination"
                         screenReaderPageLabel="page"
                         screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
    </pagination-controls>
  </div>
  <!-- </div> -->
  <!-- </div> -->
  <!-- <div *ngIf="regionsList.length === 0">
      <div class="container">
          <div class="alert alert-primary text-center mt-5">{{'region-not-found' | translate}}</div>
          <a routerLink="/cars/add" class="btn btn-primary btn-sm mb-2 float-right">
              <i class="fa fa-plus"></i>
              {{'add-new-car' | translate}}
          </a>
      </div>
  </div> -->
</div>
<div *ngIf="admins.length == 0">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

