<div class="guide-details" *ngIf="guide">
  <div class="container">
    <h1 class="my-3 details-title">{{'guide-details-page' | translate}}</h1>
    <div class="row">
      <div class="col-12 col-sm-5 col-md-4 position-relative mx-auto text-center mb-3">
        <div class="image-details mb-3">
          <img class="img-fluid img-thumbnail" src="{{guide?.image}}" alt="{{guide?.name}} Image" />
        </div>
<!--        <div class="row w-100 mx-auto" *ngIf="guide.images.length != 0">-->
<!--          <div class="col-4 mx-auto px-0 mb-1" *ngFor="let img of guide.images; let i = index">-->
<!--            <div #secondImageDetails class="second-images-details"  (click)="viewImage(secondImageDetails)">-->
<!--              <img (load)="checkSecondImagesloaded(i)" class="img-responsive" src="{{img?.image}}" (error)="img.image = '../../../../../assets/default-Item.jpg'" alt="Second Images" />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="overlay" *ngIf="rendering">-->
<!--          <div class="overlay-lds-ring"><div></div><div></div><div></div><div></div></div>-->
<!--        </div>-->
      </div>
      <div class="col-12 col-sm-6 mx-auto">
        <div class="info-details">
          <ul class="list-unstyled">
            <li>
              <div class="row">
                <div class="col">
                  <h4 class="text-info">{{guide?.name}}</h4>
                </div>
                <div *ngIf="guide?.status" class="col align-self-center text-right">
                  <span class="status border border-secondary rounded py-1 px-2">{{guide?.status | translate}}</span>
                </div>
              </div>
            </li>
<!--            <li class="my-2">-->
<!--              <div class="row">-->
<!--                <div class="col-4 col-xl-3 text-center">-->
<!--                  <img class="img-fluid img-thumbnail" src="{{guide?.userImage}}" (error)="guide.userImage = '../../../../../assets/default-avatar.jpg'" alt="{{guide?.username}} Image" />-->
<!--                </div>-->
<!--                <div class="col-7 align-self-center">-->
<!--                  <h4 class="mb-2 text-secondary">{{guide?.username}}</h4>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--              myOrders: [-->
<!--                {-->

<!--              }-->
<!--              ];-->
            <li class="mb-2" *ngIf="guide?.language">
              <p>{{'language' | translate }} :
                <span class="m-1 px-1 rounded bg-grey-blue text-white" *ngFor="let lang of guide?.language">{{lang}}</span>
              </p>
            </li>
            <li class="mb-2" *ngIf="guide?.cities">
              <p>{{'city' | translate }} :
                <span class="m-1 px-1 rounded border border-primary d-block" *ngFor="let city of guide?.cities">{{city}}</span>
              </p>
            </li>
<!--            <li *ngIf="guide?.regions">-->
<!--              <p class="mb-2">{{'regions' | translate }} :-->
<!--                <span class="{{region?.name ? 'm-1 px-1 rounded border border-primary' : null}}" *ngFor="let region of guide?.regions">{{region?.name ? region?.name : null}}</span>-->
<!--              </p>-->
<!--            </li>-->
            <li class="mb-2" *ngIf="guide?.rating"><p>{{'rating' | translate }} : <span class="text-secondary">{{guide?.rating}}</span></p></li>
          </ul>
        </div><!--.info-details-->
      </div><!--.col-12-->
      <div class="col-12">
        <hr class="w-50 mx-auto">
      </div>
      <div class="col-12" *ngIf="guideOrdersList.length > 0">
        <h3 class="">{{'my-orders' | translate}} :</h3>
      </div>
      <div class="col-12 mx-auto" *ngIf="guideOrdersList.length > 0">
        <div class="table-responsive text-center">
          <table class="table table-bordered main-table">
            <tr class="bg-dark text-white">
              <td>{{'city' | translate}}</td>
              <td>{{'cost' | translate}}</td>
              <td>{{'language' | translate}}</td>
              <td>{{'services' | translate}}</td>
              <td>{{'status' | translate}}</td>
              <td>{{'arrive-date' | translate}}</td>
              <td>{{'acceptance-date' | translate}}</td>
              <td>{{'leave-date' | translate}}</td>
            </tr>
            <tr *ngFor="let order of guideOrdersList | paginate: config">
              <td>{{order.city ? order?.city : '-'}}</td>
              <td>{{order.cost ? order?.cost : '-'}}</td>
              <td>{{order.language ? order?.language : '-'}}</td>
              <td>
                {{order?.services.length == 0 ? '-' : null}}
                <span class="m-1 px-1 rounded border border-primary" *ngFor="let service of order?.services">{{service}}</span>
              </td>
              <td>{{order?.status ? (order?.status | translate) : '-'}}</td>
              <td>{{order?.arriveDate ? (order?.arriveDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
              <td>{{order?.date ? (order?.date.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
              <td>{{order?.leaveDate ? (order?.leaveDate.timestamp * 1000 | date: 'yyyy-MM-dd') : '-'}}</td>
            </tr>
          </table>
          <pagination-controls class="my-pagination"
                               (pageChange)="pageChanged($event)"
                               autoHide="true"
                               maxSize="5"
                               responsive="true"
                               previousLabel="{{'prev' | translate}}"
                               nextLabel="{{'next' | translate}}"
                               screenReaderPaginationLabel="Pagination"
                               screenReaderPageLabel="page"
                               screenReaderCurrentLabel="{{'you-are-on-page' | translate}}">
          </pagination-controls>
        </div>
      </div>
      <!--.col-12-->

    </div><!--.row-->
  </div>
</div>
<div *ngIf="!guide">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
