<!-- general form elements -->
<div class="container-fluid" *ngIf="eventDetails != null">
    <div class="content-header">
        <h1 class="text-center my-5">{{'update-event-page' | translate}}</h1>
    </div>
    <div class="card card-info">
        <div class="card-header bg-sidebar-item-button text-white">
            <h3 class="card-title mb-0">{{'update-event' | translate}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form [formGroup]="editEventForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
                <div class="form-group">
                    <label class="col-form-label" for="inputNameSuccess">{{'name' | translate}}</label>
                    <input class="form-control"
                           [ngClass]="{'is-invalid': editEventForm.get('name').errors &&
                           (editEventForm.get('name').touched || editEventForm.get('name').dirty)}"
                           type="text"
                           name="name"
                           id="inputNameSuccess"
                           formControlName="name"
                           placeholder="{{'name-type-placeholder' | translate}}">
                    <span class="invalid-feedback" *ngIf="editEventForm.get('name').errors?.required">{{'name-field-is-required' | translate}}</span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="inputTypeSuccess">{{'type' | translate}}</label>
                    <select class="form-control"
                            name="type"
                            formControlName="type">
                        <option value="">{{'select-type-placeholder' | translate}}</option>
                        <option value="event">{{'event' | translate}}</option>
                        <option value="festival">{{'festival' | translate}}</option>
                    </select>
                    <span class="invalid-feedback" *ngIf="editEventForm.get('type').errors?.required">{{'type-field-is-required' | translate}}</span>
                </div>
                <!-- <div class="form-group">
                    <label class="col-form-label" for="inputSubTypeSuccess">{{'sub-type' | translate}}</label>
                    <input class="form-control"
                           [ngClass]="{'is-invalid': editEventForm.get('subType').errors &&
                           (editEventForm.get('subType').touched || editEventForm.get('subType').dirty)}"
                           type="text"
                           id="inputSubTypeSuccess"
                           name="subType"
                           formControlName="subType"
                           placeholder="{{'sub-type-placeholder' | translate}}">
                    <span class="invalid-feedback" *ngIf="editEventForm.get('subType').errors?.required">{{'sub-type-field-is-required' | translate}}</span>
                </div> -->
                <div class="form-group">
                    <label class="col-form-label" for="inputTypeSuccess">{{'status' | translate}}</label>
                    <select class="form-control"
                            name="status"
                            formControlName="status">
                        <option value="">{{'select-status-placeholder' | translate}}</option>
                        <option value="soon">{{'soon' | translate}}</option>
                        <option value="now">{{'now' | translate}}</option>
                        <option value="done">{{'done' | translate}}</option>
                    </select>
                    <span class="invalid-feedback" *ngIf="editEventForm.get('status').errors?.required">{{'status-field-is-required' | translate}}</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'location' | translate}}</label>
                    <input type="text"
                           [ngClass]="{'is-invalid': editEventForm.get('location').errors &&
                           (editEventForm.get('location').touched || editEventForm.get('location').dirty)}"
                           name="location"
                           formControlName="location"
                           id="exampleInputlocation1"
                           class="form-control"
                           placeholder="{{'location-type-placeholder' | translate}}">
                    <span class="invalid-feedback" *ngIf="editEventForm.get('location').errors?.required">{{'location-field-is-required' | translate}}</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputdescription1">{{'description' | translate}}</label>
                    <textarea class="form-control"
                           [ngClass]="{'is-invalid': editEventForm.get('description').errors &&
                           (editEventForm.get('description').touched || editEventForm.get('description').dirty)}"
                           name="description"
                           formControlName="description"
                           id="exampleInputdescription1"
                           placeholder="{{'description-type-placeholder' | translate}}">
                    </textarea>
                    <span class="invalid-feedback" *ngIf="editEventForm.get('description').errors?.required">{{'descriptioon-field-is-required' | translate}}</span>
                </div>     
                <div class="form-group">
                    <label for="exampleInputupload">{{'upload' | translate}}</label>
                    <div class="input-group input-group-custom">
                        <div class="custom-file">
                            <input #imageInput type="file" accept="image/*" class="custom-file-input" id="file-input"
                                (change)="updateName(imageInput)">
                            <label class="custom-file-label" for="file-input">{{imageName | translate}}</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" (click)="processFile(imageInput)" [disabled]=!fileSelected>
                            {{uploadButtonValue | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn bg-sidebar-item-button text-white" [disabled]="editEventForm.invalid || imageUploaded">{{'update' | translate}}</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
</div>
<div *ngIf="eventDetails == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
